<!DOCTYPE html>
<html>
  <head>
    <title>{{ head_title }}</title>
    <style type="text/css" media="screen">
      body {
        padding: 2em;
      }
      header,
      footer {
        background-color: deepskyblue;
      }
      #main:before,
      #main:after {
        content: "";
        display: table;
      }
      #main:after {
        clear: both;
      }
      #content {
        background-color: blanchedalmond;
        float: left;
        width: 50%;
        margin-left: 25%;
        margin-right: -75%;
      }
      #sidebar-first,
      #sidebar-second {
        background-color: darkorange;
        float: left;
        width: 25%;
      }
      #sidebar-first {
        margin-left: 0;
        margin-right: -25%;
      }
      #sidebar-second {
        margin-left: 75%;
        margin-right: -100%;
      }
      .inner {
        padding: 2em;
      }
    </style>
  </head>
  <body>
    <header><div class="inner">
      <h1>{{ header }}</h1>
    </div></header>
    <div id="main">
      <section id="content"><div class="inner">
        {{ content }}
      </div></section>
      <aside>
        <section id="sidebar-first"><div class="inner">{{ sidebar_first }}</div></section>
        <section id="sidebar-second"><div class="inner">{{ sidebar_second }}</div></section>
      </aside>
    </div>
    <footer><div class="inner">
      {{ footer }}
    </div></footer>
  </body>
</html>
