<!-- Base -->

<ol{{ attributes }}>
  {{ items }}
</ol>

<!-- Clarification A -->

<ol{{ attributes }}>
  {% for item in items %}
    {{ item }}
  {% endfor %}
</ol>

<!-- Clarification B -->

<ol{{ attributes }}>
  {% for item in items %}
    <li{{ item.attributes }}>
      {{ item.inner }}
    </li>
  {% endfor %}
</ol>
